
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">

<!-- COMPONENTS -->
@await Component.InvokeAsync("_HeadComponentPartial")

<body id="top">

<!-- NAVBAR HEADER -->
    @await Component.InvokeAsync("_NavbarComponentPartial")

<!-- FEATURE SECTION -->
    @await Component.InvokeAsync("_FeatureComponentPartial")

<!-- ABOUT -->
    @await Component.InvokeAsync("_AboutComponentPartial")

<!-- WORKS -->
    @await Component.InvokeAsync("_PortfolioComponentPartial")

<!-- TESTIMONIAL -->
    @await Component.InvokeAsync("_TestimonialComponentPartial")

<!-- BLOG -->
    @await Component.InvokeAsync("_BlogComponentPartial")

<!-- STATISTIC -->
    @await Component.InvokeAsync("_StatisticComponentPartial")

<!-- CONTACT -->
    @await Component.InvokeAsync("_ContactComponentPartial")
    
<!-- FOOTER -->
    @await Component.InvokeAsync("_FooterComponentPartial")


</body>

</html>
